{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <title>Welcome Reader</title>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Library Management System</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{% url 'userDashboard' %}">Home</a></li>
      <li class="active"><a href="{% url 'myBooks' %}">My Books</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<h1 class="display-3 text-center" >Welcome Reader</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr. Number</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for co in rents  %}

          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ co.isbn.isbn.title }} </td>
            <td>{{ co.isbn.isbn.author }}</td>
            <td>{{ co.isbn.isbn.isbn }}</td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter{{ co.pk }}"><i class="fas fa-edit"></i>Return Book</button>

            </td>
          </tr>

            <div class="modal fade" id="exampleModalCenter{{ co.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" id="">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle">Do You really Want to Return Book ? </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><form method="post" action="{%  url 'returnBook' co.id %}">
        {% csrf_token %}
      <div class="modal-body">

        <div class="container">
            {{ co.isbn.isbn.title }}


</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Return Book</button>
      </div>
        </form>
    </div>
  </div>
</div>

        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- partial -->

</body>


<script type="text/javascript">
        $(function() {
            $('#datetimepicker1').datetimepicker();
        });
    </script>

</html>
